@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  overflow: hidden;
}

body {
  @apply bg-background text-foreground;
}

webview {
  flex: 1;
  width: 100%;
  height: 100%;
  min-height: 0;
  border: none;
  display: flex;
}
